*  {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body * {
    outline: 1px solid pink;
} */

body {
    min-width: 340px;
    font-family: 'Roboto', sans-serif;
}


#navbar-container {
    background-color: rgb(50,50,50);
    color: silver;
    display: block;
}

#navbar-menu-items {
    justify-content: center;
    display: flex;
    flex: 8;
}

#logo {
    font-size: 2rem;
    font-weight: 900;
    flex: 2;
    margin-left: 20px;
}

#sub-logo {
    margin-left: 20px;
}

li {
    margin-top: 15px;
    margin-right: 50px;
    list-style: none;
}

a {
    color: orange;
    text-decoration: none;
}

/* dropdown menu */

/* Style The Dropdown Button */
.dropbtn {
    color: orange;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

@media(min-width: 720px) {
    #navbar-container {
        display: flex;
    }
    #sub-logo {
        margin-top: 15px;
        flex: 2;
    } 
    #navbar-menu-items {
        justify-content: flex-end;
    }
}